
@{
    ViewBag.Title = "密码修改";
    Layout = "~/Views/Shared/_LayoutDispose.cshtml";
}
<style type="text/css">
    .label {
        height: 40px;
    }

    .datagrid-cell {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .cname {
        font: bold 16px 微软雅黑;
        color: #464040;  
    }
</style>

<div style="padding-top:120px;margin-left:150px;margin-bottom:20px;">
     
    <table style="text-align:left;">
        <colgroup>
            <col width="100" />
            <col />
        </colgroup>
        <tr style="height:40px;">
            <td>当前密码：</td>
            <td>
                <input id="password" name="password" validType="length[4,32]" class="easyui-validatebox"
                       required="true" type="password" value="" />
            </td>
        </tr>
        <tr style="height:40px;">
            <td>新密码：</td>
            <td>
                <input id="newPwd" name="password" validType="length[6,32]" class="easyui-validatebox" 
                       required="true" type="password" value="" />
            </td>
        </tr>
        <tr style="height:40px;">
            <td>重复新密码：</td>
            <td>
                <input   id="reNewPwd"  type="password" name="repassword" required="true" class="easyui-validatebox" 
                       validType="equalTo['#newPwd']" invalidMessage="两次输入密码不匹配" />
            </td>
        </tr>  
    </table>
    <a id="btn" href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconCls:'icon-save'"
       style="width:120px;margin-left:150px;margin-top:50px;" onclick="updatePwd();">确定</a>
</div> 

  
<script type="text/javascript">

    $(document).ready(function () {
        $("#liUserSetting").addClass("over");
        $("#ddChangedPwd").addClass("on");
        
    });

    $.extend($.fn.validatebox.defaults.rules, {
        /*必须和某个字段相等*/
        equalTo: {
            validator: function (value, param) {
                return $(param[0]).val() == value;
            },
            message: '字段不匹配'
        }

    });
       
    
      
    function updatePwd() {
        //if ($("#password")isValid)
        //    return;
      //  alert($("#password").validatebox('isValid')); 
        //  alert($("#reNewPwd").validatebox('isValid'));
        if (!$("#password").validatebox('isValid') || !$("#newPwd").validatebox('isValid')
            || !$("#reNewPwd").validatebox('isValid')) {
            return;
        } 
        var oldPwd = $("#password").val();
        var newPwd = $("#newPwd").val();
       // jsonUser.newPwd = $("#reNewPwd").validatebox('getValue');
       
        //if (jsonUser.oldPwd.trim() == '') {
        //    $.messager.alert('提示', '请输入当前密码!', 'warning', function () {
        //        $('#password').validatebox('textbox').focus();
        //    }); 
        //    return;
        //}
        //if (jsonUser.newPwd.trim() == '') {
        //    $.messager.alert('提示', '请输入想要修改新密码!', 'warning', function () {
        //        $('#newPwd').validatebox('textbox').focus();
        //    });  
        //    return;
        //}
        //if (jsonUser.newPwd.trim() != $("#reNewPwd").validatebox('getValue').trim()) {
        //    $.messager.alert('提示', '两次输入的新密码不一致!', 'warning', function () {
        //        $('#reNewPwd').validatebox('textbox').focus();
        //    });
        //    return;
        //} 
        $.ajax({
            url: '@Url.Content("~/User/ChangePwd")',
            type: "POST",
            dataType: 'json',
            data: {
                oldPwd: oldPwd,
                newPwd:newPwd
            },
            beforeSend: function () {
                $.messager.progress({
                    title: '请稍候',
                    text: '正在添加...'
                });
            },
            success: function (data, textStatus) { 
                if (data.result) {
                    $("#password").val('');
                    $("#newPwd").val('');
                    $("#reNewPwd").val('');
                    $.messager.alert('提示', '密码修改成功!'); 
                }
                else {
                    $.messager.alert('提示', data.msg, 'info');
                }
            },
            complete: function () {
                $.messager.progress('close');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { $.messager.alert('提示', '操作出错', 'error'); }
        });
    }
      
</script>
