@{
    ViewBag.Title = "权限错误";
    Layout = null;
}

<body style="text-align:center;margin:auto 0 ;">
    <div style="margin:auto 0 ;widows:600px;padding-top:200px;">
        <h2 style="font-size:32px;">当前账号无权浏览该页面</h2>
        <a style="font-weight:bold;font-size:25px;color:coral;margin-top:100px;cursor:pointer;" onclick="history.go(-1);"> 返回</a>
    </div>
</body>




